
/* basket styles */
main{grid-area:M;}
nav{grid-area:N;}
.purchaseCard{grid-area:C}
.header{grid-area:H}

body
{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:auto;
  grid-template-areas:
  "N"
  "H"
  "C"
  "M"
  ;
  background-color: #f0ece2;
}
@media (min-width: 600px) 
{
  body
  {
      display:grid;
      grid-template-columns: 0.5fr 2fr 2fr 1.5fr;
      grid-template-rows:auto;
      grid-template-areas:
      "N N N N"
      "H H H H"
      ". M M C"
      ". M M C"
      
      ;
  }
}
main
{
  display:flex;
  flex-wrap:wrap;
  border-right: 1px solid #B6B5B5;
}
.card 
{
  width:90%;
  border:0.5px solid #B6B5B5;
  background-color:#dfd3c3; 
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px; 
  margin-left: 20px;
}
@media (min-width: 600px) 
{
  .card 
  {
    margin-top: 20px; 
    margin-right: 20px; 
    width: 300px; 
    margin-left: 0px;
  }
}
.cardHeader 
{
  background-color: #E6E5E4;
  padding: 10px;
  border-bottom: 1px solid #C0BBBB;;
  margin: 0;
  font-size: 20px;
  text-align: center;
}
.cardBody 
{
  padding: 10px;
}
.formButtons 
{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
input[type = submit]
{
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #596e79;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}
input[type = submit]:hover
{
  background-color: #696969;
}

.purchaseCard
{
  text-align: center;
  background-color: #eee9dc;
  
}
.header
{
  background-color: #eee5cd;
  text-align:center;
  padding:0px;
  margin:0px;
}




  

