/* page styles */
body
{
  margin: 0;
  padding: 0;
}
nav
{
  display: flex;
  color: gray;
  margin-bottom: 10px;
  height: 60px;
  size: 30px;
  background-color: rgb(4, 4, 34);
  fill: 100%;
  margin-top: 0;
  padding-top: 0;
  align-items: center;
  
}
nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 23px;
  text-decoration: none;
  color: white;
  height: 100%;
  width: 100px;
}
nav > a:hover
{
  background-color: rgb(40, 40, 51);
}
/* basket styles */
main{grid-area:M;}
nav{grid-area:N;}
.purchaseCard{grid-area:C}

body
{
    display:grid;
    grid-template-columns: 0.5fr 2fr 2fr 1.5fr;
    grid-template-rows:auto;
    grid-template-areas:
    "N N N N"
    ". . . C"
    ". M M C"
    ". M M C"
    ;
}
main
{
  display:flex;
  flex-wrap:wrap;
}


.card {
  width: 300px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  margin-top: 20px; 
  margin-right: 20px; 
  margin-bottom: 20px; 
  font-family: Arial, sans-serif;
}
.card .cardHeader 
{
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin: 0;
  font-size: 20px;
}
.card .cardBody 
{
  padding: 10px;
}
.card .cardBody .formButtons 
{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card .cardBody .formButtons button 
{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.card .cardBody .formButtons button:hover
{
  background-color: rgb(216, 216, 216);
}




  

